<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>APRESENTAÇÃO</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
			<div class="container" id="cont">
				<a class="navbar-brand" href=""><span>Renata da</span> Telemensagem</a>
				<ul class="navbar-nav text-uppercase ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#services">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#portfolio">Trabalhos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">Sobre</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#contact">Contato</a>
					</li>
				</ul>
			</div>
		</nav>

		<section>
			<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="img-fluid" src="img/carousel.png" alt="First slide">
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</section>
	</header>
	<main>
		<section class="video-section">			
			<div class="row container">
				<div class="video col-md-6 col-12">
					<iframe src="https://www.youtube.com/embed/Xjenx-PxCBY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="texto col-md-6 col-12">
					<p>O Lorem Ipsum é um texto modelo da indústria tipográfica e de impressão. O Lorem Ipsum tem vindo a ser o texto padrão usado por estas indústrias desde o ano de 1500, quando uma misturou os caracteres de um texto para criar um espécime de livro. Este texto não só sobreviveu 5 séculos, mas também o salto para a tipografia electrónica, mantendo-se essencialmente inalterada. Foi popularizada nos anos 60 com a disponibilização das folhas de Letraset, que continham passagens com Lorem Ipsum, e mais recentemente com os programas de publicação como o Aldus PageMaker que incluem versões do Lorem Ipsum.</p>
				</div>
			</div>
		</section>
		<section id="conteudo">
			<aside>
				<nav id="nav"">
					<ul class="main">
						<span class="mobile">
							<li><a  href="">Home</a></li>
							<li><a  href="">Trabalhos</a></li>
							<li><a href="#">Sobre</a></li>
							<li><a href="#">Contato</a></li>
							<hr>
						</span>
						<li><a  href="">Noticias</a></li>
						<li><a  href="">Iliminação</a></li>
						<li><a  href="">vagas</a></li>
						<li><a href="#">Tapa buraco</a></li>
						<li><a href="#">ofícios<i class="fas fa-chevron-down ml-3"></i></a></li>
					</ul>
				</nav>
			</aside>
			<article class="content">
				<div class="container">
					<div class="title text-center">
						<h2 class="section-heading text-uppercase">ÚLTIMAS NOTÍCIAS</h2>
						<h3 class="section-subheading text-muted">Saiba o que estamos fazendo por Austin</h3>
					</div>
					<div class="row">
						<div class="col-md-4 portfolio-item">
							<a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content">
										<i class="fas fa-plus fa-3x"></i>
									</div>
								</div>
								<img class="img-fluid" src="img/portfolio/01.png" >
							</a>
							<p class="data text-muted">dd/mm</p>
							<div class="portfolio-caption">
								<p>Retomadas das obras</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 portfolio-item">
							<a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content">
										<i class="fas fa-plus fa-3x"></i>
									</div>
								</div>
								<img class="img-fluid" src="img/portfolio/02.png" alt="">
							</a>
							<p class="data text-muted">dd/mm</p>
							<div class="portfolio-caption">
								<p>Titulo</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 portfolio-item">
							<a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content">
										<i class="fas fa-plus fa-3x"></i>
									</div>
								</div>
								<img class="img-fluid" src="img/portfolio/03.png" alt="">
							</a>
							<p class="data text-muted">dd/mm</p>
							<div class="portfolio-caption">
								<p>Identity</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 portfolio-item">
							<a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content">
										<i class="fas fa-plus fa-3x"></i>
									</div>
								</div>
								<img class="img-fluid" src="img/portfolio/03.png" alt="">
							</a>
							<p class="data text-muted">dd/mm</p>
							<div class="portfolio-caption">
								<p>Identity</p>
							</div>
						</div>
						<div class="col-md-4 portfolio-item">
							<a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content">
										<i class="fas fa-plus fa-3x"></i>
									</div>
								</div>
								<img class="img-fluid" src="img/portfolio/01.png" >
							</a>
							<p class="data text-muted">dd/mm</p>
							<div class="portfolio-caption">
								<p>Retomadas das obras</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 portfolio-item">
							<a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
								<div class="portfolio-hover">
									<div class="portfolio-hover-content">
										<i class="fas fa-plus fa-3x"></i>
									</div>
								</div>
								<img class="img-fluid" src="img/portfolio/02.png" alt="">
							</a>
							<p class="data text-muted">dd/mm</p>
							<div class="portfolio-caption">
								<p>Titulo</p>
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
		<section class="logos">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<a href="#">
							<img class="img-fluid d-block mx-auto" src="img/logos/01.png" alt="">
						</a>
					</div>
					<div class="col-md-4 col-sm-6">
						<a href="#">
							<img class="img-fluid d-block mx-auto" src="img/logos/02.png" alt="">
						</a>
					</div>
					<div class="col-md-4 col-sm-6">
						<a href="#">
							<img class="img-fluid d-block mx-auto" src="img/logos/03.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</section>

		<!-- Contact -->
		<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading text-uppercase pb-5">Entre em contato</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<form id="contactForm" name="sentMessage" novalidate="novalidate">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" id="name" type="text" placeholder="Seu Nome *" required="required" data-validation-required-message="Por favor digite seu nome">
										<p class="help-block"></p>
									</div>
									<div class="form-group">
										<input class="form-control" id="email" type="email" placeholder="Seu Email *" required="required" data-validation-required-message="Por favor digite seu email.">
										<p class="help-block"></p>
									</div>
									<div class="form-group">
										<input class="form-control" id="phone" type="tel" placeholder="Seu telefone Phone *" required="required" data-validation-required-message="Por favor digite seu telefone.">
										<p class="help-block"></p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<textarea class="form-control" id="message" placeholder="Sua Mensagem *" required="required" data-validation-required-message="Por favor digite uma mensagem."></textarea>
										<p class="help-block"></p>
									</div>
								</div>
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar Mensagem</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<span class="copyright">Copyright &copy; Erick Ferreira 2018</span>
				</div>
				<div class="col-md-4">
					<ul class="list-inline social-buttons">
						<li class="list-inline-item">
							<a href="#">
								<i class="fab fa-instagram"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#">
								<i class="fab fa-youtube"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul class="list-inline quicklinks">
						<li class="list-inline-item">
							<a href="#">Nossas Políticas</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<!-- VALIDAR FORM -->
	<script src="js/jqBootstrapValidation.min.js"></script>
	<script src="js/contact_me.min.js"></script>

	<script src="js/agency.js"></script>

</body>
</html>
