


/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: inline-flex;
}



/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}